@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500&display=swap');
*{
  font-family: "DM Sans";
}

.imdb{
  width: 35px;
height: 17px;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
}





@media screen and  (min-width:1450px) {
  html{
    width: auto;
  }
    

}
@media screen and  (max-width:1199px) {


}
  
  @media screen and  (max-width:991px) {
   
  }
  
  @media screen and  (max-width:767px) {
   
  }
  
  
  
  
  @media screen and (max-width:530px) {
    
    .nav {
      margin: 3rem 2rem;
    }
   .nav_title h2{
    display: none;
   }

   .nav_menu button{
display: none;
   }
   .search input {
      width: 314px;
   }
   .banner__title{
    font-size: 38px;
   }
   .banner__rating ,.movie__overview{
    /* width: 15rem; */
   }

   .search svg{
    right: 2rem;
   }
}

  @media (max-width:828px) and (min-width:414px) {

  html{
    width: 504px;
  }
  /* .nav {
    margin: 3rem 1rem;
    
  } */

  .search input {
    width: 300px;
    margin: 0 1rem;
 }
 .search svg{
  right: 2rem;
 }

}